.loginform {
  margin: 0 auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 5px;
  border-radius: 7px;
  height: 700px;
  max-width: 500px;
  padding: 40px 0;

  position: relative;
  top: 120px;
}

.loginform h1 {
  margin-bottom: 20px;
}

.loginform form:not() p{
  text-align: center;
}

.input_id,
.input_password {
  width: 434px;
  height: 50px;
  padding: 5px 12px;
  outline: none;
  border: 1px solid black;

  margin-bottom: 30px;
}

.input_id:focus,
.input_password:focus {
  border: 2px solid blue;
  padding: 5px 11px;
  height: 50px;
}

.login_btn{
  margin-bottom: 20px;
  width: 434px;
  height: 50px;
  padding: 5px 12px;
  outline: none;
  border: 1px solid black;

  background-color: green;
  color: white;
}

.naverid {
  width: 434px;
  height: 50px;
}

.horizontal {
  width: 100%;
  text-align: center;

  border-bottom: 1px solid rgb(0, 0, 0);
  line-height: 2px;
  margin: 10px 0 20px;
}
.horizontal span {
  background-color: white;
  padding: 0 10px;
}

.horizontal2 {
  color: aquamarine;
  margin-top: 40px;
}

.loginlast {
  margin-top: 10px;
}
.loginlast span a {
  color: rgb(43, 86, 226);
  font-weight: 900;
  text-decoration: none;
}
.loginlast span::before {
  margin: 20px;
  content: "";
}